nav {
    padding: 20px;
    border-bottom: 2px solid #eaeaea;
    display: flex;
    align-items: center;
}

body{
    font-family:'poppins', serif;
}

.logo {
    font-size: 35px;
    font-weight: 500;
    font-family: mono;
}

.login{
    padding: 10px 20px;
    border: 2px solid #d34692;
    border-radius: 20px;
}


nav a {
    margin: 0 20px;
    font-size: 20px;
    color: grey;
    text-decoration: none;

}

a:hover {
    color: black;
  }

  /* a:visited {
    color: #00FF00;
  } */

.pink{
    color: #d34692;
}

.leading {
    margin-top: 80px;
    text-align: center;
}

.leading h1 {
    font-size: 42px;
}

.leading p {
    width: 40%;
    margin: 20px auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
}

.leading a {
    padding: 10px 40px;
    background-color: #d34692;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}
/* HANDBURGER */

.handburger {
  display: none;
}


/* card section */

.cards{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}
.card {
    height: 225px;
    width: 200px;
    padding: 20px;
    background-color: grey;
    align-items: center;
    border-radius: 10px;
    position: relative;
    margin: 10px;
}

.card div {
    display: flex;
    justify-content: space-between;
    color: white;
}

.card div p {
    line-height: 20px;
    margin-bottom: 15px;
    
}

.card> p {
    color: grey;
}

.card img {
    height:180px;
    width: 180;
    position: absolute;
    bottom: -30px;
    right: -30px;
}

.card-1 {
    background-color: #623c75;
}

.card-2 {
    background-color: #526272;
}

.card-3 {
    background-color:#a38d8d ;
}

.card-4 {
    background-color:#80a39c ;
}



/* MEDIA QUERY SECTION*/

@media (max-width: 600px) {

    nav a:not(:first-child){
        display: none;
    }

    .handburger {
        width: 30px;
        height: 30px;
        display: block;
    }

    nav {
        justify-content: space-between;
    }
}


